allow fsck protect1_device:blk_file rw_file_perms;
allow fsck protect2_device:blk_file rw_file_perms;
allow fsck nvdata_device:blk_file rw_file_perms;
allow fsck mmc_device:blk_file { getattr ioctl open read write };

allow fsck platformblk_device:dir { search };
allow fsck platformblk_device:blk_file { read write open ioctl };
allow fsck tmpfs:blk_file getattr;
allow fsck platformblk_device:blk_file getattr;

